transformers==4.41 
peft==0.9 
bitsandbytes==0.41 
accelerate==0.27 
sentencepiece 
protobuf 
torch_geometric==2.4 
datasets 
pandas 
numpy 
swifter           
easydict         
pyyaml 
tqdm 
scikit-learn